<%- include('partials/header.ejs') %>

<div id="displayTextOuterDiv">
    <div id="displayTextInnerDiv">
        <%= locals.displayText %>
    </div>
</div>
<main>
    <div class="container-fluid item-list">
        <ul class="list-group">
            <% if(locals.data) { %>
                <% for(var i=0; i<locals.data.length; i++) { %>
                    <form action="/delete" method="POST">
                        <li class="list-group-item">
                            <input type="checkbox" name="checkbox" value="<%= data[i]._id %>" id="todayItem<%= i %>" class="form-check-input me-1" onChange="this.form.submit()">
                            <label id="todayItem<%= i %>Label" for="todayItem<%= i %>" class="form-check-label" style="word-break: break-word;">
                                <%= locals.data[i].name %>
                            </label>
                            <button type="button" class="btn btn-warning btn-sm ms-2" onclick="editItem('<%= data[i]._id.toString() %>', '<%= JSON.stringify(data[i].name) %>')">Edit</button>
                            <input type="hidden" name="listType" value="todayList">
                        </li>
                    </form>
                <% } %>
            <% } %>
        </ul>
    </div>
    <div class="addItemDiv">
        <form action="/add" method="POST" id="addItemForm">
            <input type="text" name="addTodayItem" id="addTodayItem" placeholder="Enter item here" required>
            <button type="submit" class="btn btn-primary">Add/Update Item</button>
            <input type="hidden" name="listType" value="todayList">
            <input type="hidden" name="itemId" id="itemId" value="">
        </form>
    </div>
</main>

<footer>

</footer>

<script>
    function editItem(itemId, itemName) {
        document.getElementById('addTodayItem').value = itemName;
        
        document.getElementById('itemId').value = itemId;
    }
</script>

<script src="scripts/today.js"></script>
</body>
</html>
